1.  What are data structures, and why are they important?
    - Data structures are a specific way of organizing data in a specialized format on a computer so that the information can be organized, processed,stored, and retrieved quickly and effectively. They are a means of handling information, rendering the data for easy use.

2.  Explain the difference between mutable and immutable data types with examples?
    - Data types in Python are categorized into mutable and immutable data types. Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can’t be changed.

      - Mutable Data types - List, Dictionaries and sets
      - Immutable Data types - String and tuples

3. What are the main differences between lists and tuples in Python?
   - Lists:
     1. A list is a collection of ordered elements.
     2. Lists maintain the order of the elements they contain.
     3. Lists can be accessed by index.
     4. Lists can be modified by adding or removing elements.
     5. Lists can contain duplicate elements.

   - Tuple:
     1. A tuple is a sequence of elements separated by commas and enclosed in parentheses.
     2. Tuples maintain the order of the elements they contain.
     3. Tuples can be accessed by index.
     4. Tuples cannot be modified by adding or removing elements.
     5. Tuples can contain duplicate elements.

4. Describe how dictionaries store data?
   - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?
  - It depends on the use case. If you don’t want the values in the data to change, you can use a set. But if you want the items to change, you can use a list. You can also take into account whether the order of the items matters to you or not.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters between single or double quotes. And a list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that allows you to store a collection of key-value pairs.In a hash table, the key of every key-value pair must be hashable, because the pairs stored are indexed by using the hash of their keys. Hash tables are very useful because the average number of instructions that are necessary to lookup an element of the table is independent of the number of elements stored in the table itself. That means that even if your table grows ten or ten thousand times, the overall speed to look up a specific element is not affected.

9. Can lists contain different data types in Python?
   -  Yes, a list can also contain a mix of Python types including strings, floats, and booleans.

10. Explain why strings are immutable in Python?
    - Strings in Python are “immutable” which means they can not be changed after they are created. Strings are made immutable so that programmers cannot alter the contents of the object (even by mistake). This avoids unnecessary bugs.

11. What advantages do dictionaries offer over lists for certain tasks?
    - The major diffrence between lists and dictionaries is getting the elements from the list data structure is more complex when compared to dictionaries. So it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner.

12. Describe a scenario where using a tuple would be preferable over a list?
    - Use a tuple if you need an immutable collection where the elements won't change after creation. AADHAR card, PAN card are the details of a person which can be used in tuple. These details of a person are not changed.

13. How do sets handle duplicate values in Python?
    - Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The in operator for lists just checks equality with every element of the list, which the in operator for sets first hashes the object you are looking for, checks for an object in that slot of the hashtable, and then checks for equality if there is anything in the slot.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their contents cannot be changed. Attempting to alter an element will result in a TypeError error.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary that's stored as a value within another dictionary. Nesting is useful because it allows you to model more complex information in programs.

17. Describe the time complexity of accessing elements in a dictionary?
    - The time complexity of accessing an element in a dictionary is O(1) on average. This means that the time it takes to retrieve an element is constant and doesn't depend on the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
    - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
     - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# Practical questions

1. Write a code to create a string with your name and print it?

In [1]:
String = "Piyush"
print(String)

Piyush

2. Write a code to find the length of the string "Hello World"?

In [2]:
len("Hello World")

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [5]:
String = "Python Programming"
String [0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase?

In [6]:
text = "hello"
text.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [12]:
sentence = "I like apple"
sentence.replace("apple", "Orange")

'I like Orange'

6. Write a code to create a list with numbers 1 to 5 and print it?

In [16]:
lis = [1, 2, 3, 4, 5]
print(lis)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [20]:
lis = [1, 2, 3, 4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [21]:
lis = [1, 2, 3, 4, 5]
lis.remove(3)
lis

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [23]:
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [24]:
lis = [10, 20, 30, 40, 50]
lis[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [29]:
tupl = (10, 20, 30)
print(tupl)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [30]:
tupl = ('apple', 'banana', 'cherry')
tupl[0]

'apple'

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [33]:
tupl = (1, 2, 3, 2, 4, 2)
tupl.count(2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [35]:
tupl = ('dog', 'cat', 'rabbit')
tupl.index("cat")

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [44]:
tupl = ('apple', 'orange', 'banana')
'banana' in tupl

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [47]:
se = {1, 2, 3, 4, 5}
print(se)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [48]:
se = {1, 2, 3, 4}
se.add(6)
se

{1, 2, 3, 4, 6}

# Repeated Questions:
18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.